<div class="container">
  <p style='color:red;'><%= flash[:alert] %></p>
  <div class="row">
  <p class="alert"><%= alert %></p>
  <p class="notice"><%= notice %></p>


    <h2>New Meeting</h2>


    <%= render 'form' %>
  </div>
</div>
