
<div class="report-inner">
  <h1>BUSIEST EMPLOYEES</h1>
      <table id="busiest_employees" class="table display">
        <thead>
          <tr>
            <th>NAME</th>
            <th>MEETINGS</th>
            <th>EMAIL</th>
            <th>FAVORITE AMENITY</th>
          </tr>
        </thead>

        <tbody>
          <% @busiest_employees.each do |busiest_employees| %>
            <tr>
            <td><%= link_to busiest_employees.first.name %></td>
            <td><%= busiest_employees.first.meetings.count %></td>
            <td><%= busiest_employees.first.email %></td>
            <td><%= ["Donuts", "Espresso-Maker", "Hot-Tub", "Recliners", "Masseuse", "Window"].sample %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
