<div class="container">
  <h1><%= @company.name %> Rooms</h1>
  <%= react_component("RoomsTable", { current_employee: current_employee, rooms_array: @rooms_array, page: 1, limit: 10, search: params[:search].to_s.titleize }) %>
</div>

