<div class='container new-room'>
  <div class="row">
    <div class='col-md-4 col-md-offset-4 form-box'>
      <h2>New Room</h2>

      <%= render 'form' %>

      <%= link_to 'Back', dashboard_path %>
    </div>
  </div>
</div>
