<div class="container">
  <p id='notice'><%= notice %></p>
  <p id='alert'><%= alert %> </p>

  <div class='row pull-right margin-top well margin-right'>
    <form action='/search/rooms' method='GET'>
      <input type='text' name='search'
             placeholder="Room name, location, or amenity" size="30"/>
      <input type='submit' value='Search' class='btn btn-primary' />
    </form>
  </div>
  <% if params[:search] %>
    <h1 class="col-md-6">Search Results for
      <i class="results"><%= params[:search].titleize %></i>
    </h1>
  <% else %>
    <h1 class="col-md-6">Search Results</h1>
  <% end %>
  <%= react_component("RoomsTable", { rooms_array: @rooms_array, page: 1, limit: 10 }) %>
  <div class="row">
    <div class="col-md-9"></div>
    <div class='col-md-3 well center room-search'>
      <form action='/search_advance/rooms' method='GET'>
        <div class='row'>
          <div class='col-md-4 align-right'>
            name
          </div>
          <div class='col-md-8 align-left'>
            <input type='text' size= '12' name='name'/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4 align-right'>
            location
          </div>
          <div class='col-md-8 align-left'>
            <input type='text' size= '12' name='location'/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4 align-right'>
            number
          </div>
          <div class='col-md-8 align-left'>
            <input type='text' size= '3' name='room_number'/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4 align-right'>
            max occ >=
          </div>
          <div class='col-md-8 align-left'>
            <input type='text' size= '3' name='max_occupancy'/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4 align-right'>
            available?
          </div>
          <div class='col-md-8 align-left'>
            <input type='checkbox' checked = 'checked' name='available' value='true' />
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'></div>
          <div class='col-md-8 align-left'>
            <input type='submit' value='Search' class='btn btn-primary' />
        </div>
      </form>
    </div>
  </div>
</div>
