<div class="container">
  <div class="row room-row">
    <div style="background-image: url(<%= @room.imgurl %>); background-repeat: no-repeat; background-size: cover; height: 350px;margin-top:2em;">
      <div class="room-header"><h2><%= @room.name %></h2></div>
    </div>

  </div>

</div>
