@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'dataTables/jquery.dataTables';

.report-container {
  width: 95%;
  padding: 20px;
  margin-left: auto;
  margin-right:auto;
  border: 1px solid orange;
  background-color: #eeeeee;
}

.report-inner {
  padding: 20px;
  margin: 40px;
  border: 1px solid orange;
  background-color: #eeeeee;
}
