// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meeting-buttons {
  margin-bottom: 50px;
  margin-left: 15px;
}

.invite-table {
    width: 100%;
    margin-left: 15px;
}

h2 {
  margin-left: 15px;
  margin-top: 40px;
}
