// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin {
  margin-top: 3em;

  .btn {
   margin-right: 1em;
  }
}

.room-image {
  width: 30em;
  height: 30em;
}

.room-image img {
  width: 100%;
  height: auto;
}
