<!--This is a sample view for an Iron Yard group project-->
<div class="container">
  <div class="row">
    <h2>Room Name</h2>

    <div class="col-md-6">
      <h3>Attendees</h3>
      <ul>
        <li><a href="#">Karen Gillan</a></li>
        <!-- These are links to the employee page -->
        <li><a href="#">Matt Smith</a></li>
        <!-- These are links to the employee page -->
        <li><a href="#">John Barrowman</a></li>
        <!-- These are links to the employee page -->
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Details</h3>
      <p><strong>Location:</strong> <a href="#">Bluebonnet room</a></p>
      <!--This will be a link to the page for that room -->
      <p><strong>Time: </strong>6:00PM - 7:00PM</p>
    </div>
  </div>

  <div class="row admin">
    <button class="btn btn-primary">Edit meeting</button>
    <button class="btn btn-danger">Delete meeting</button>
  </div>
</div>
